body {
    height: 100vh;
}

#shelter-btn {
    background-color: #44ceb0;
    border: none;
    color: white;
    padding: 5px;
    /* text-align: center; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 13px auto;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 10px;
}

#btn-name {
    margin-bottom: 0;
}

#shelter-icon {
    margin-left: 3px;
    margin-right: 5px;
}

#map {
    width: 100%;
    height: 500px;
}

@media screen and (min-width: 992px) {
    #map {
        height: 430px;
    }
}