.back-btn {
    position: absolute;
    top: 10px;
    left: 6px;
    padding: 10px;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.back-btn i {
    font-size: 17px;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 27px;
    border-radius: 5px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.shelter-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.shelter-title {
    font-size: 24px;
    margin-top: 15px;
    color: #6ed9c2;
}

.amenities {
    margin-bottom: 10px;
}

.amenities p {
    margin-bottom: 5px;
}

.email {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.direction-btn,
.contact-btn {
    padding: 7px 55px;
    font-size: 16px;
    color: white;
    background-color: #6ed9c2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.direction-btn:hover,
.contact-btn:hover {
    background-color: #4db897;
}

.amenities {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 15px
}

.buttons {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 15px;
}

.address,
.status {
    font-size: 14px;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 40px;
    }

    .shelter-title {
        font-size: 32px;
    }

    .amenities p, .email {
        font-size: 18px;
    }

    .direction-btn,
    .contact-btn {
        font-size: 18px;
    }

    .address,
    .status {
        font-size: 14px;
        margin-bottom: 5px;
    }

}