.container {
    height: 100vh;
    /* background-color: #F8EDE3; */
}

body {
    margin: auto;
}

.firebaseui-id-submit {
    background-color: #3d6168 !important;
    color: #fff !important;
}

/* .firebaseui-title, .mdl-textfield__label, .mdl-textfield__input, .firebaseui-id-submit, .firebaseui-link, .firebaseui-tos {
    font-family: monospace, sans-serif;
} */

.firebaseui-title {
    color: #3d6168 !important;
}

.firebaseui-link {
    font-size: 12px !important;
}

.mdl-textfield__label {
    font-size: 15px !important;
    /* font-family: monospace, sans-serif !important; */
}