.container {
    height: 100vh;
}

body {
    margin: auto;
}

.firebaseui-id-submit {
    background-color: #3d6168 !important;
    color: #fff !important;
}

.firebaseui-title {
    color: #3d6168 !important;
}

.firebaseui-link {
    font-size: 12px !important;
}

.mdl-textfield__label {
    font-size: 15px !important;
}