body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
  padding-bottom: 90px;
  color: #484848;
}

.btn-custom {
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #a3ebe3;
  border-color: #a3ebe3;
  color: #484848;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #a3ebe3;
  border-color: #a3ebe3;
  color: #484848;
  box-shadow: none;
  outline: none;
}

.bg-custom {
  background-color: #a3ebe3;
  color: #484848;
  font-weight: 500;
}