.navbar-brand {
    margin-left: 10px;
}

.navbar-brand {
    font-family: 'Itim', cursive;
    font-size: 2.25rem;
}

/* #back{
    background-image: url('../images/tea1.jpeg');
} */

/* #message{
    color: rgb(111, 170, 22);
    font-size: 18pt;
}

#welcome{
    color: rgb(111, 170, 22);
    font-size: 42pt;
} */

body {
    background: linear-gradient(to bottom, #ffffff, #84dec4, #3fdabb);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    text-align: center; 
    padding: 20px; 
  }
  
  .logo-container {
    display: inline-block; 
  }
  
  .logo {
    max-width: 100%; 
  }
  
  #firebaseui-auth-container, #loader {
    margin-top: 10px; 
    padding-top: 10px;
  }