body {
  background: linear-gradient(to bottom, #ffffff, #84dec4, #3fdabb);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.logo-container {
  display: inline-block;

  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 75%;
  size: 50px;
}

#firebaseui-auth-container,
#loader {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  vertical-align: center;
  display: flex;
}