.navbar-brand {
    margin-left: 10px;
}

.navbar-brand {
    font-family: 'Itim', cursive;
    font-size: 2.25rem;
}

.container-fluid py-5{
    background-image: url(https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2020-02/adobestock_144255497.jpeg.jpg?itok=IivRnSvt);
    background-repeat: no-repeat;
    background-size: cover;
}